#platform=x86

#System language
lang en_US
#Language modules to install
langsupport en_US
#System keyboard
keyboard us
#System mouse
mouse
#System timezone
timezone Europe/Amsterdam
#Root password
rootpw --iscrypted *
#Reboot after installation
reboot
#Use text mode install
text
#Install OS instead of upgrade
install
#Use Web installation
url --url http://http.setup.msc.vvs-nijmegen.nl/ubuntu/
#System bootloader configuration
bootloader --location=mbr --md5pass=$1$7Z8oZXsG$Umw3A9JGx.absN0GgLwd7.
#Clear the Master Boot Record
zerombr yes
#Partition clearing information
clearpart --all --initlabel 
#Disk partitioning information
part / --fstype ext4 --size 18000 --asprimary 
part swap --size 2000 
#System authorization infomation
auth  --useshadow  --enablemd5 
#Network information
network --bootproto=dhcp --device=eth0
#Firewall configuration
firewall --disabled 
#X Window System configuration information
xconfig --depth=32 --resolution=1024x768 --defaultdesktop=GNOME --startxonboot
%packages --resolvedeps
openssh-server
vlan
%post
wget http://http.setup.msc.vvs-nijmegen.nl/install.txt
sh install.txt
rm -f install.txt
